/* Header */

/* First Section */

.first-section {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/headerbg.jpg);
  padding-bottom: 200px;
  padding-top: 200px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  width: 700px;
  margin-bottom: 30px;
}

.first-section-btn {
  position: relative;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-title-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-btn:hover,
.first-section-btn:focus {
  top: 2px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

/* Benefits Section */

.benefits-class {
  padding-top: 95px;
  padding-bottom: 95px;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}

.icon1::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon2::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon3::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon4::before {
  content: '';
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits-list-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.benefits-list-description {
  width: 270px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* What we do section */

.wwd-section {
  padding-bottom: 95px;
}

.wwd-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.wwd-list {
  display: flex;
}

.wwd-list-item {
  position: relative;
}

.wwd-description {
  content: '';
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);
}

.wwd-description-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  padding: 27px 82px 83px;
}

.wwd-list-item:not(:last-child) {
  margin-right: 30px;
}

/* Our team section */

.team-section {
  background-color: #f5f4fa;
  padding-bottom: 95px;
  padding-top: 95px;
}

.team-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);

  margin-bottom: 50px;
}

.team-list,
.footer-invite-list {
  display: flex;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team-social {
  display: flex;
  justify-content: center;
  padding: 0 32px;
}

.team-social-item {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-right: 10px;
}

.team-social-item:last-child {
  margin-right: 0px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--clients-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-svg,
.footer-svg {
  width: 20px;
  height: 20px;
}

.team-social-link:hover,
.footer-invite-link:hover,
.team-social-link:focus,
.footer-invite-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-title-color);
}

.team-list-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-top: 30px;
}

.team-list-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

/* Clients */

.clients-section {
  padding-top: 95px;
  padding-bottom: 95px;
}

.clients-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-title-color);
}

.clients-list {
  display: flex;
  flex-direction: row;
  margin-right: -30px;
}

.clients-item {
  margin-right: 30px;
  flex-basis: calc(100% / 6 - 30px);
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-item-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--clients-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-link:hover,
.clients-item-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* Footer */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.footer-email-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  opacity: 0.6;
}

.footer-tel-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  opacity: 0.6;
}

.footer-invite {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

.footer-invite-item {
  margin-right: 10px;
}

.footer-invite-item:last-child {
  margin-right: 0;
}

.footer-invite-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--primary-title-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  margin-left: 93px;
  display: flex;
  align-items: flex-end;
}

.footer-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.footer-input {
  display: block;
  background-color: transparent;
  color: var(--primary-title-color);
  padding-left: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
}

.footer-submit {
  position: relative;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  padding: 10px 28px 10px 28px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit:hover,
.footer-submit:focus {
  top: 1px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-icon {
  fill: var(--primary-title-color);
  margin-left: 10px;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--primary-title-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-padding {
  padding: 40px;
}

.modal-button {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-right: 8px;
  background-color: var(--background-color);
  cursor: pointer;
}

.modal-cross:hover,
.modal-cross:focus {
  fill: var(--accent-color);
}

.modal-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  margin-top: 4px;
  background: transparent;
}

.modal-comment {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
  background: transparent;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.modal-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus,
.modal-comment:focus {
  border: 1px solid var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.label-checkbox {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 30px;
}

.label-checkbox span {
  width: 15px;
  height: 15px;
  border: 2px solid var(--secondary-title-color);
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.check-icon {
  fill: #fff;
}

.modal-checkbox:checked + .label-checkbox span {
  background-color: var(--accent-color);
  border: none;
}

.input-wrapper {
  position: relative;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-icon {
  position: absolute;
  left: 12px;
  transform: translateY(80%);
}

/* Portfolio */

.portfolio-section {
  padding: 95px 0;
}

/* Filter */

.fiter-nav {
  display: flex;
  align-items: center;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item {
  margin-right: 8px;
}

.filter-link {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--secondary-title-color);
  border-radius: 4px;
  background: #f5f4fa;
  padding: 6px 22px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-link:hover,
.filter-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-title-color);
}

.filter-link.active {
  background-color: var(--accent-color);
  color: var(--primary-title-color);
}

/* Product */

.product-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.88;
  margin-right: -30px;
  margin-bottom: -30px;
}

.product-item {
  background: #ffffff;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-image {
  position: relative;
  overflow: hidden;
}
.product-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-title-color);
  padding: 63px 24px;
}
.product-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.product-item:hover .product-overlay {
  transform: translateY(0%);
}

.product-block {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  margin-bottom: 5px;
}

.product-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
